* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto Condensed', sans-serif;
}

#navbar {
    width: 100%;
    background-color: #751A33;
    position: fixed;

}
.nav-list {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin-right: 1rem;
  
}
.nav-list a {
    display: block;
    text-decoration: none;
    color: #f0f0f0;
    padding: 1rem 1.5rem;
    font-size: xx-large;
}
.nav-list a:hover {
    background-color: #1B818C;

}
.nav-list a:active {
    background-color: blue;
}
#welcome-section {
    background: linear-gradient(#1A8693, #D9BB62 100%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}
#projects {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: .3rem 0;
    background-color: #D9BB62
    ;
}
.projects-grid {
    width: 1280px;
    display: flex;
    flex-wrap: wrap;
    
}
.project-tile {
    margin: 2rem;
    
}
.project-tile figure figcaption {
    text-decoration: none;
}
#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 320px;
    background-color: #1A8693;
}
#contact h1 {
    padding-bottom: 1rem;
}
#contact div {
    display: flex;
    justify-content: center;

}
#contact div a {
    padding: 2rem;
    font-size: 1.5rem;
    text-decoration: none;
    transition: tranform 0.3s ease-out;
    color: white;
}

#contact div a:hover {
    transform: translateY(8px);
}
footer {
    text-align: center;
    padding: 1rem;
    font-size: x-large;
    background-color: #751A33;
    color: white;

    
}

@media (max-width: 75em) {
    html {
      font-size: 60%;
    }
  }
  
  /* 980px / 16px = 61.25em */
  @media (max-width: 61.25em) {
    html {
      font-size: 58%;
    }
  }
  
  /* 460px / 16px = 28.75em */
  @media (max-width: 28.75em) {
    html {
      font-size: 55%;
    }
  }