header, nav, footer {
    margin: none;
}

header {
    background-color: black;
    color: gold;
    text-align: center;

}
header h1 {
    margin: 0;
}

#navbar {
    background-color: gray;
}
#navbar ul {
    display: flex;
    padding: 1rem 0;
    
}
#navbar ul li {
    margin: 0 0 0 2%;
    list-style-type: none;
    text-decoration: none;
}

figure {
    background-color: black;
}

img {
    border: 8px solid gold;
}

figcaption {
    color: white;
    text-align: center;
    font-size: xx-large;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}