* {
    margin: 0;
    box-sizing: border-box;
}

header, nav, footer {
    margin: none;
}

body {
    background: url(/images/sw-body-image2.jpeg);
    background-size: 100%;
    
}

header {
    background-color: black;
    color: gold;
    text-align: center;

}
header h1 {
    margin: 0;
    padding: 1.5rem 0;
    font-size: xx-large;
}


#navbar {
    background-color: gray;
}
#navbar ul {
    margin: auto;
    display: flex;
    padding: 1rem 0;
    max-width: 82rem;
    
}
#navbar ul li {
    margin: 0 0 0 2%;
    list-style-type: none;
    text-decoration: none;
    font-size: x-large;
}

main {
    margin: auto;
    background-color: rgb(75, 74, 74);
    max-width: 82rem;
}

figure {
    background-color: black;
    margin: 2rem;
    border-radius: 7px;
}

img {
    border: 8px solid gold;
    border-radius: 7px 7px 0 0;
    
}

figcaption {
    color: white;
    text-align: center;
    font-size: xx-large;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

ol {
    padding: 0;
}

footer {
    text-align: center;
    background-color: black;
    color: gold;
    padding: 1rem 0;
}