* {
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto Mono', monospace;
    background: url(/images/sw-ships-backgroundicons.svg);
    background-size: 20%;

}

#navbar {
    background-color: gray;
    
}

#navbar ul {
    display: flex;
    max-width: 82rem;
    margin: auto;
    
   
    
}
#navbar ul li {
    margin-right: 3rem;
    margin-left: 2%;
    padding: .5rem 0;
    list-style-type: none;
    text-decoration: none;
    font-size: large;
}

#navbar ul li a:hover {
    color: orange;
}

#navbar ul li a:active {
    color: white;
}



header {
    
    background-color: black;
    text-align: center;
    font-size: xx-large; 
    color: gold;
}
header h1 {
    margin: 0;
    padding: 1.5rem 0;
    font-size: xx-large;
}

main {
    margin: auto;
    background-color: rgb(75, 74, 74);
    max-width: 82rem;

}


.nav {
    margin: 1.5rem 0 1.5rem 2%;
    
    background-color: gray;
    border-radius: 7px;
    
}

.nav ul {
    padding: .5rem;
}

.nav ul li {
    color: white;
}

nav ul.navList li:hover {
    color: black;
}









.mainContainer {
    display: flex;
    
}
.mainContainer img {
    border-radius: 7px;
}

div.shipName {
    color: gold;
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

footer {
    padding: .5rem 0;
    text-align: center;
    background-color: rgb(37, 37, 37);
    color: gold;
}

.box {
    background-color: gold;
    font-size: xx-large;
    text-align: center;
}

.shipName {
    font-size: x-large;
}
