* {
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding: 1.5rem 0;
}
button {
    font-size: x-large;
    background-color: gold;
    border-radius: 10px;
}

button:hover {
    background-color: red;
    color: white;

}

main {
    display: flex;
    flex-wrap: wrap;
    background-color: gray;
    
    
}

figure {
    margin: .5rem;
}

figure img{
    width: 200px;
    border: darkgray solid 5px;
    border-radius: 10px;
}