* {
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto Mono', monospace;
    background-color: gray;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: black;
    padding: .5rem 0 1rem 0;
    color: gold;
    font-size: x-large;
    text-align: center;
    align-items: center;
}

#navbar ul {
    display: flex;
    justify-content: space-around;
}

#navbar ul li {
    margin: .5rem 1rem;
    list-style-type: none;
    text-decoration: none;
}

.nav-list a {
    background-color: red;
    display: block;
    text-decoration: none;
    color: #f0f0f0;
    padding: 1rem 1.5rem;
    font-size: x-large;
    border-radius: 10px;
}

.nav-list a:hover {
    background-color: orange;
    color: black;
}

.nav-list a:active {
    background-color: gold;
    color: black;
}

button {
    font-size: x-large;
    background-color: gold;
    margin: .3rem 0;
    border-radius: 10px;
    width: 500px;
}

button:hover {
    background-color: orange;
    color: black;

}
#portfolio-button {
    padding-bottom: 3rem;
    
    
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: gray;
    
    padding: 1rem 2%;
    
    
    
}

figure {
    margin: .5rem;
    
}

figure img{
    width: 200px;
    border: darkgray solid 5px;
    border-radius: 10px;
}

figcaption {
    text-align: center;
}

footer {
    background-color: black;
    padding: .5rem 0;
    text-align: center;
    color: gold;
}