* {
    margin: 0;
    box-sizing: border-box;
}
/* body {
    background: url(/images/american\ flag.jpg);
} */

.senators {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#headerWrapper {
    background-color: black;
}

header {
    background-color: gray;
    max-width: 82rem;
    margin: auto;
}
header h1 {
    color: white;
    margin: 0 0 0 2%;
    padding: .5rem 0;
    font-size: xx-large;
}
header h2 {
    margin: 0 0 0 2%;
    padding: 0 0 1.5rem 0;

}

button {
    padding: .5rem;
    margin: .5rem 0 .5rem 2%;
    background-color: rgb(82, 82, 82);
    color: white;
    border-radius: 7px;

}


/* header .buttons {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: .5rem;
}

.buttons button {
    padding: .5rem;
    background-color: gold;
    color: black;
    border-radius: 7px;
}
.buttons #red {
    background-color: red;
    color: white;
}
.buttons #blue {
    background-color: blue;
    color: white;
} */

main {
    max-width: 82rem;
    background-color: white;
    margin: auto;
}

figure {
    width: 160px;
    display: flex;
    flex-direction: column;
    margin: 2rem 1rem;
}

figure figcaption {
    text-align: center;
}

main .bottonButton {
   background-color: gray;
}

footer {
    background-color: gray;
    color: white;
    text-align: center;
    padding: .5rem;
}
